{% form_theme form ":form_theme:theme.html.twig" %}
{{ form_start(form) }}

{% if not form.vars.valid %}
<div class="err_wrap"><p class="err">入力内容にエラーがありました。</p></div>
{% endif %}

{{ form_row(form.item1) }}

<button type="submit">公開通知メールに登録する</button>

{{ form_end(form) }}
