@charset "UTF-8";

@import "compass";
@import "config";


// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: #d1d1d1 !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;


/* Slider */

.slick-list {
    .slick-loading & {
        //background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 22px;
    width: 22px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    z-index: 10;
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
    &:before {
        font-family: $slick-font-family;
        font-size: 20px;
        line-height: 1;
        color: $slick-arrow-color;
        opacity: $slick-opacity-default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.slick-prev {
    left: -22px;
    [dir="rtl"] & {
        left: auto;
        right: -22px;
    }
    &:before {
        margin: auto;
        border-bottom: 3px solid #ffffff;
        border-left: 3px solid #ffffff;
        width: 22px;
        height: 22px;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        [dir="rtl"] & {
            content: '';
       }
    }
}

.slick-next {
    right: -22px;
    [dir="rtl"] & {
        left: -22px;
        right: auto;
    }
    &:before {
        margin: auto;
        border-top: 3px solid #ffffff;
        border-right: 3px solid #ffffff;
        width: 22px;
        height: 22px;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        [dir="rtl"] & {
            content: '';
        }
    }
}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    list-style: none;
    display: block;
    text-align: right;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 940px;
    @media #{$mobile} {
        text-align: center;
        position: relative;
        bottom: 0;
        padding: 0;
        vertical-align: middle;
        padding: 10px 0;
    }
    li {
        position: relative;
        display: inline-block;
        height: 12px;
        width: 12px;
        margin: 0 9px;
        padding: 0;
        cursor: pointer;
        background: $slick-dot-color;
        border-radius: 100%;
        button {
            border: 0;
            display: block;
            height: 12px;
            width: 12px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                opacity: $slick-opacity-on-hover;
            }
        }
        &.slick-active {
            background: #7ab575;
        }
    }
}
