@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
/* line 9, ../sass/_reset.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

/* line 30, ../sass/_reset.scss */
body { line-height: 1; }

/* line 34, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* line 39, ../sass/_reset.scss */
nav ul { list-style: none; }

/* line 43, ../sass/_reset.scss */
blockquote, q { quotes: none; }

/* line 47, ../sass/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

/* line 53, ../sass/_reset.scss */
a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; text-decoration: none; color: #333; }

/* change colours to suit your needs */
/* line 64, ../sass/_reset.scss */
ins { background-color: #ff9; color: #000; text-decoration: none; }

/* change colours to suit your needs */
/* line 71, ../sass/_reset.scss */
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

/* line 78, ../sass/_reset.scss */
del { text-decoration: line-through; }

/* line 82, ../sass/_reset.scss */
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

/* line 87, ../sass/_reset.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* change border colour to suit your needs */
/* line 93, ../sass/_reset.scss */
hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

/* line 102, ../sass/_reset.scss */
input, select { vertical-align: middle; }

/* line 5, ../sass/_generic.scss */
.cf:before, .cf:after { content: " "; display: table; }

/* line 11, ../sass/_generic.scss */
.cf:after { clear: both; }

/* line 15, ../sass/_generic.scss */
.cf { *zoom: 1; }

/* line 56, icons/*.png */
.icons-sprite, .icons-icon_fb, .icons-icon_twitter { background-image: url('../images/icons-s8d536de41c.png'); background-repeat: no-repeat; }

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon_fb { background-position: 0 0; }

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-icon_twitter { background-position: 0 -28px; }

/* line 11, ../sass/_main.scss */
html { font-size: 62.5%; }

/* line 15, ../sass/_main.scss */
body { font-family: "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif; margin: 0 auto; }

/* line 23, ../sass/_main.scss */
.g_navi { box-sizing: border-box; position: fixed; top: 0; height: 80px; width: 100%; background-color: #e85f5f; display: table; padding-left: 23px; z-index: 1; }
/* line 33, ../sass/_main.scss */
.g_navi .logo { width: 51px; display: table-cell; vertical-align: middle; }
/* line 38, ../sass/_main.scss */
.g_navi nav { display: table; width: 330px; margin: 0 auto; padding-top: 35px; }
/* line 43, ../sass/_main.scss */
.g_navi nav .nav--elm { display: flex; }
/* line 45, ../sass/_main.scss */
.g_navi nav .nav--elm li { width: 33%; display: table-cell; vertical-align: middle; font-size: 1.4rem; text-align: center; }
/* line 54, ../sass/_main.scss */
.g_navi .sns { display: table-cell; vertical-align: middle; width: 94px; }
/* line 58, ../sass/_main.scss */
.g_navi .sns ul { display: table; }
/* line 61, ../sass/_main.scss */
.g_navi .sns .icon { display: table-cell; text-indent: -9999px; width: 28px; height: 28px; }
/* line 66, ../sass/_main.scss */
.g_navi .sns .icon a { display: block; width: 28px; height: 28px; }
/* line 72, ../sass/_main.scss */
.g_navi .sns .share-facebook { padding-right: 13px; }

/* line 79, ../sass/_main.scss */
main { width: 1024px; box-shadow: 0px 0px 2px 1px #efefef inset; -moz-box-shadow: 0px 0px 2px 1px #efefef inset; -webkit-box-shadow: 0px 0px 2px 1px #efefef inset; background-image: url('../images/bg_main.png?1460990547'); background-repeat: repeat; background-position: 0 0; margin: 80px auto 0; padding-top: 35px; }
/* line 90, ../sass/_main.scss */
main .title { font-size: 3.0rem; color: #e85f5f; font-weight: normal; text-align: center; height: 70px; width: 700px; margin: 0 auto; }
/* line 100, ../sass/_main.scss */
main .title-image { margin-left: 38px; }
/* line 105, ../sass/_main.scss */
main .inquiry { display: block; width: 290px; height: 80px; box-sizing: border-box; line-height: 80px; background: #f33e3e; color: #fff; border: none; position: relative; text-align: center; margin: -107px auto 0; font-size: 2.1rem; padding: 0 2em; cursor: pointer; transition: 800ms ease all; outline: none; }
/* line 122, ../sass/_main.scss */
main .inquiry:hover { background: #fff; color: #f33e3e; }
/* line 126, ../sass/_main.scss */
main .inquiry:before, main .inquiry:after { content: ''; position: absolute; top: 0; right: 0; height: 2px; width: 0; background: #f33e3e; transition: 400ms ease all; }
/* line 136, ../sass/_main.scss */
main .inquiry:after { right: inherit; top: inherit; left: 0; bottom: 0; }
/* line 142, ../sass/_main.scss */
main .inquiry:hover:before, main .inquiry:hover:after { width: 100%; transition: 800ms ease all; }
/* line 151, ../sass/_main.scss */
main .expl { width: 843px; margin: 34px auto 15px; line-height: 2; font-size: 1.5rem; }
/* line 159, ../sass/_main.scss */
main .article { padding-bottom: 20px; }
/* line 161, ../sass/_main.scss */
main .article .elm { background-color: #efefef; width: 457px; height: 187px; box-sizing: border-box; padding: 20px 10px; box-shadow: 0 1px 4px 0 #d1d0d0; -moz-box-shadow: 0 1px 4px 0 #d1d0d0; -webkit-box-shadow: 0 1px 4px 0 #d1d0d0; }
/* line 173, ../sass/_main.scss */
main .article .elm:nth-child(odd) { float: left; margin: 20px 21px 20px 34px; }
/* line 177, ../sass/_main.scss */
main .article .elm:nth-child(even) { float: right; margin: 20px 34px 20px 21px; }
/* line 181, ../sass/_main.scss */
main .article .elm .type--ttl { font-size: 3.0rem; font-weight: bold; text-align: center; margin-bottom: 20px; line-height: 1; }
/* line 189, ../sass/_main.scss */
main .article .elm .type--text { font-size: 1.4rem; line-height: 1.7; }
/* line 197, ../sass/_main.scss */
main .works { background-color: #e85f5f; }
/* line 199, ../sass/_main.scss */
main .works .works--ttl { font-size: 3.8rem; text-align: center; height: 85px; line-height: 110px; color: #fff; }
/* line 207, ../sass/_main.scss */
main .works .details .detail { background-color: #fff; width: 300px; height: 300px; float: left; margin: 24px 0 24px 25px; }
/* line 213, ../sass/_main.scss */
main .works .details .detail:nth-child(1) { margin: 24px 0 24px 34px; }
/* line 216, ../sass/_main.scss */
main .works .details .detail .view { background-color: #000; cursor: pointer; }
/* line 219, ../sass/_main.scss */
main .works .details .detail .view .view--title { margin-bottom: 17px; background-color: #000; }
/* line 222, ../sass/_main.scss */
main .works .details .detail .view .view--title a { color: #fff; }
/* line 226, ../sass/_main.scss */
main .works .details .detail .view p { padding: 4px 10px; font-style: normal; }
/* line 229, ../sass/_main.scss */
main .works .details .detail .view p .sub { font-style: italic; display: inline-block; width: 56px; }
/* line 234, ../sass/_main.scss */
main .works .details .detail .view p .elm { width: 221px; display: inline-flex; }
/* line 237, ../sass/_main.scss */
main .works .details .detail .view p .elm.url a { color: #fff !important; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
/* line 242, ../sass/_main.scss */
main .works .details .detail .view p .elm.url a:hover { text-decoration: underline; }
/* line 251, ../sass/_main.scss */
main .works #modal-works-body_2 + .detail { margin: 24px 0 24px 34px; }
/* line 255, ../sass/_main.scss */
main .member { background-color: #696969; }
/* line 257, ../sass/_main.scss */
main .member .view { background-color: #000; width: 300px; height: 400px; }
/* line 262, ../sass/_main.scss */
main .member .view .mask, main .member .view .content { width: 300px; height: 400px; }
/* line 266, ../sass/_main.scss */
main .member .member--ttl { font-size: 3.8rem; text-align: center; height: 85px; line-height: 110px; color: #fff; }
/* line 274, ../sass/_main.scss */
main .member .details .detail { background-color: #fff; width: 300px; height: 400px; float: left; margin: 24px 0 24px 25px; }
/* line 280, ../sass/_main.scss */
main .member .details .detail:nth-of-type(1) { margin: 24px 0 24px 34px; }
/* line 285, ../sass/_main.scss */
main .member #modal-member-body_2 + .detail { margin: 24px 0 24px 34px; }

/* line 290, ../sass/_main.scss */
footer { background-color: #efefef; height: 233px; text-align: center; }
/* line 294, ../sass/_main.scss */
footer .footer_logo { display: inline-block; margin-top: 50px; }
/* line 298, ../sass/_main.scss */
footer .copy { font-size: 1.5rem; display: block; color: #696969; margin-top: 34px; }

/* line 309, ../sass/_main.scss */
.view { width: 300px; height: 300px; overflow: hidden; position: relative; text-align: center; cursor: default; }

/* line 318, ../sass/_main.scss */
.wh { height: 100% !important; }

/* line 319, ../sass/_main.scss */
.ww { width: 100% !important; }

/* line 323, ../sass/_main.scss */
.view .mask, .view .content { width: 300px; height: 300px; position: absolute; overflow: hidden; top: 0; left: 0; }

/* line 332, ../sass/_main.scss */
.view img { display: block; position: relative; }

/* line 336, ../sass/_main.scss */
.view h2 { text-transform: uppercase; color: #fff; text-align: center; position: relative; font-size: 17px; padding: 10px; background: rgba(0, 0, 0, 0.8); margin: 20px 0 0 0; }

/* line 346, ../sass/_main.scss */
.view p { font-family: Georgia, serif; font-style: italic; font-size: 12px; position: relative; color: #fff; padding: 10px 20px 20px; text-align: center; }

/* line 355, ../sass/_main.scss */
.view a.info { display: inline-block; text-decoration: none; padding: 7px 14px; background: #000; color: #fff; text-transform: uppercase; -webkit-box-shadow: 0 0 1px #000; -moz-box-shadow: 0 0 1px #000; box-shadow: 0 0 1px #000; }

/* line 366, ../sass/_main.scss */
.view a.info:hover { -webkit-box-shadow: 0 0 5px #000; -moz-box-shadow: 0 0 5px #000; box-shadow: 0 0 5px #000; }

/* line 372, ../sass/_main.scss */
.view-first img { -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -ms-transition: all 0.2s linear; transition: all 0.2s linear; }

/* line 379, ../sass/_main.scss */
.view-first .mask { -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; background-color: rgba(232, 95, 95, 0.8); -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }
/* line 389, ../sass/_main.scss */
.view-first .mask span { display: block; }

/* line 393, ../sass/_main.scss */
.view-first h2 { -webkit-transform: translateY(-100px); -moz-transform: translateY(-100px); -o-transform: translateY(-100px); -ms-transform: translateY(-100px); transform: translateY(-100px); -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

/* line 408, ../sass/_main.scss */
.view-first p { line-height: 1.5; text-align: left; -webkit-transform: translateY(100px); -moz-transform: translateY(100px); -o-transform: translateY(100px); -ms-transform: translateY(100px); transform: translateY(100px); -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -ms-transition: all 0.2s linear; transition: all 0.2s linear; }

/* line 425, ../sass/_main.scss */
.view-first:hover img { -webkit-transform: scale(1.1, 1.1); -moz-transform: scale(1.1, 1.1); -o-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); }

/* line 432, ../sass/_main.scss */
.view-first a.info { -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

/* line 443, ../sass/_main.scss */
.large .view-first:hover .mask { -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); opacity: 1; }

/* line 448, ../sass/_main.scss */
.large .view-first:hover h2, .large .view-first:hover p, .large .view-first:hover a.info { -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -o-transform: translateY(0px); -ms-transform: translateY(0px); transform: translateY(0px); }

/* line 460, ../sass/_main.scss */
.large .view-first:hover p { -webkit-transition-delay: 0.1s; -moz-transition-delay: 0.1s; -o-transition-delay: 0.1s; -ms-transition-delay: 0.1s; transition-delay: 0.1s; }

/* line 467, ../sass/_main.scss */
.large .view-first:hover a.info { -webkit-transition-delay: 0.2s; -moz-transition-delay: 0.2s; -o-transition-delay: 0.2s; -ms-transition-delay: 0.2s; transition-delay: 0.2s; }

/* line 478, ../sass/_main.scss */
.large img.square { width: 300px; height: 300px !important; margin-top: 50px; }

/* line 483, ../sass/_main.scss */
.small img.square { width: 137px; height: 137px !important; margin-top: 50px; }

/* line 489, ../sass/_main.scss */
#lean_overlay { position: fixed; z-index: 100; top: 0px; left: 0px; height: 100%; width: 100%; background: #000; display: none; }

/* line 498, ../sass/_main.scss */
.modal-works-body, .modal-member-body { background: none repeat scroll 0 0 #FFFFFF; box-shadow: 0 0 4px rgba(0, 0, 0, 0.7); display: none; padding: 12px; }
/* line 504, ../sass/_main.scss */
.modal-works-body img, .modal-member-body img { max-width: 840px; max-height: 600px; }

/* line 513, ../sass/_main.scss */
.modal_close { position: absolute; top: 12px; right: 12px; display: block; width: 14px; height: 14px; background: url(../img/modal_close.png); z-index: 2; }

/* line 525, ../sass/_main.scss */
.selection { display: none; }

/* line 526, ../sass/_main.scss */
.page-1 { display: block; }

/* line 528, ../sass/_main.scss */
.simple-pagination { height: 100px; text-align: center; position: relative; }
/* line 532, ../sass/_main.scss */
.simple-pagination ul { margin: 0 auto; position: absolute; top: 17px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
/* line 539, ../sass/_main.scss */
.simple-pagination ul:after { content: "."; display: block; height: 0; font-size: 0; clear: both; visibility: hidden; }
/* line 547, ../sass/_main.scss */
.simple-pagination ul li { float: left; margin-right: 10px; font-size: 1.7em; list-style-type: none; color: #fff; background-color: #292727; min-width: 43px; height: 43px; line-height: 43px; box-sizing: border-box; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
/* line 559, ../sass/_main.scss */
.simple-pagination ul li.disabled { background-color: #b6b4b4; }
/* line 562, ../sass/_main.scss */
.simple-pagination ul li.active { background-color: #e93535; }
/* line 565, ../sass/_main.scss */
.simple-pagination ul li a { display: block; height: 43px; color: #fff; }

/* line 575, ../sass/_main.scss */
.contact { display: none; width: 90%; max-width: 700px; position: absolute !important; background: #fff; height: 100%; max-height: 800px; margin: 0 !important; -webkit-transform: translateX(-50%); transform: translateX(-50%); -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; padding-bottom: 80px; }
/* line 589, ../sass/_main.scss */
.contact .contact--ttl { text-align: center; font-size: 1.4rem; line-height: 1.7; margin-top: 55px; margin-bottom: 46px; }
/* line 596, ../sass/_main.scss */
.contact form { width: 500px; margin: 30px auto; font-size: 1.3rem; }
/* line 601, ../sass/_main.scss */
.contact label { display: inline-block; width: 125px; font-weight: bold; margin-bottom: 15px; vertical-align: top; }
/* line 608, ../sass/_main.scss */
.contact .required { display: inline-block; color: #f33e3e; margin-bottom: 15px; vertical-align: top; font-size: 1.0rem; }
/* line 615, ../sass/_main.scss */
.contact input { display: inline-block; margin-bottom: 20px; width: 312px; height: 18px; }
/* line 620, ../sass/_main.scss */
.contact input.no_req { margin-left: 4em; }
/* line 624, ../sass/_main.scss */
.contact textarea { display: inline-block; margin-bottom: 20px; width: 312px; height: 100px; }
/* line 631, ../sass/_main.scss */
.contact .article { width: 312px; display: inline-block; margin-bottom: 10px; }
/* line 635, ../sass/_main.scss */
.contact .article input { display: inline-block; width: auto; height: auto; margin: 0 5px 0 0; }
/* line 641, ../sass/_main.scss */
.contact .article label { font-weight: normal; font-size: 1.1rem; width: 134px; }
/* line 647, ../sass/_main.scss */
.contact .btn_area { margin: 20px 0 20px; text-align: center; }
/* line 650, ../sass/_main.scss */
.contact .btn_area .submit { margin: 0 auto; background: #f33e3e; color: #fff; border: none; height: 39px; width: 150px; font-size: 1.3rem; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
/* line 659, ../sass/_main.scss */
.contact .btn_area .submit:disabled { opacity: 0.4; }

@media only screen and (max-width: 780px) { /* line 8, ../sass/_sp.scss */
  .sp-none { display: none; }
  /* line 12, ../sass/_sp.scss */
  html { font-size: 50%; }
  /* line 16, ../sass/_sp.scss */
  body { width: 100%; }
  /* line 20, ../sass/_sp.scss */
  .g_navi { height: 46px; }
  /* line 22, ../sass/_sp.scss */
  .g_navi nav { padding-top: 17px; width: auto; }
  /* line 25, ../sass/_sp.scss */
  .g_navi nav .nav--elm li { padding: 0 19px; }
  /* line 30, ../sass/_sp.scss */
  .g_navi .logo img { width: 28px; height: auto; }
  /* line 35, ../sass/_sp.scss */
  .g_navi .sns { display: none; }
  /* line 41, ../sass/_sp.scss */
  main { width: 100%; margin: 25px auto 0; }
  /* line 44, ../sass/_sp.scss */
  main .title { width: 100%; font-size: 1.8rem; height: auto; text-align: center; margin: 13px 0; font-weight: bold; }
  /* line 53, ../sass/_sp.scss */
  main .title-image { overflow: hidden; }
  /* line 55, ../sass/_sp.scss */
  main .title-image img { width: 100%; height: auto; margin-left: -42px; }
  /* line 62, ../sass/_sp.scss */
  main .inquiry { margin: -30px auto 0; width: 100px; height: 27px; line-height: 27px; padding: 0; font-size: 0.5rem; background: #fff; border: 1px solid #e85f5f; color: #e85f5f; }
  /* line 72, ../sass/_sp.scss */
  main .inquiry:before, main .inquiry:after { background: none; }
  /* line 77, ../sass/_sp.scss */
  main .expl { width: 100%; padding: 13px 17px 18px; margin: 0; box-sizing: border-box; line-height: 1.8; }
  /* line 84, ../sass/_sp.scss */
  main .article { padding: 0 10px 20px; box-sizing: border-box; width: 100%; }
  /* line 88, ../sass/_sp.scss */
  main .article .elm:nth-child(odd), main .article .elm:nth-child(even) { float: none; margin: 0; width: auto; height: auto; border-bottom: 1px solid #ccc; }
  /* line 95, ../sass/_sp.scss */
  main .article .elm:nth-child(odd) .type--ttl, main .article .elm:nth-child(even) .type--ttl { font-size: 2.3rem; }
  /* line 101, ../sass/_sp.scss */
  main .works .works--ttl { font-size: 2.5rem; padding: 18px 0; height: auto; line-height: inherit; }
  /* line 107, ../sass/_sp.scss */
  main .works #modal-works-body_2 + .detail, main .works .details .detail, main .works .details .detail:nth-child(1) { width: 137px; height: 137px; margin: 0 0 20px 15px; }
  /* line 113, ../sass/_sp.scss */
  main .works #modal-works-body_2 + .detail .view, main .works .details .detail .view, main .works .details .detail:nth-child(1) .view { width: 137px; height: 137px; }
  /* line 120, ../sass/_sp.scss */
  main .member .member--ttl { font-size: 2.5rem; padding: 18px 0; height: auto; line-height: inherit; }
  /* line 126, ../sass/_sp.scss */
  main .member #modal-member-body_2 + .detail, main .member .details .detail, main .member .details .detail:nth-child(1) { width: 137px; height: 137px; margin: 0 0 20px 15px; }
  /* line 132, ../sass/_sp.scss */
  main .member #modal-member-body_2 + .detail .view, main .member .details .detail .view, main .member .details .detail:nth-child(1) .view { width: 137px; height: 137px; }
  /* line 142, ../sass/_sp.scss */
  footer { background-color: transparent; }
  /* line 144, ../sass/_sp.scss */
  footer .logo_area { background-color: #efefef; height: 70px; }
  /* line 147, ../sass/_sp.scss */
  footer .logo_area img { width: 28px; height: auto; margin-top: 20px; }
  /* line 153, ../sass/_sp.scss */
  footer .copy { font-size: 1.0rem; margin: 8px 0; }
  /* line 163, ../sass/_sp.scss */
  .simple-pagination ul li { min-width: 30px; height: 30px; line-height: 30px; font-size: 1.4em; -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px; }
  /* line 171, ../sass/_sp.scss */
  .modal-works-body, .modal-member-body { margin-left: 0 !important; top: 50% !important; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); }
  /* line 177, ../sass/_sp.scss */
  .modal-works-body img, .modal-member-body img { min-width: 270px; max-width: 100%; max-height: inherit !important; }
  /* line 186, ../sass/_sp.scss */
  .contact { font-size: 1.5rem; height: auto; max-height: auto; }
  /* line 190, ../sass/_sp.scss */
  .contact .inner { padding: 20px; }
  /* line 193, ../sass/_sp.scss */
  .contact .contact--ttl { text-align: left; font-size: 1.4rem; line-height: 1.8; margin: 0; }
  /* line 199, ../sass/_sp.scss */
  .contact form { width: auto; margin: 30px auto; }
  /* line 203, ../sass/_sp.scss */
  .contact label { width: auto; margin-bottom: 10px; }
  /* line 207, ../sass/_sp.scss */
  .contact input { display: block; width: 100%; }
  /* line 210, ../sass/_sp.scss */
  .contact input.no_req { margin-left: 0; }
  /* line 214, ../sass/_sp.scss */
  .contact textarea { display: block; width: 100%; }
  /* line 219, ../sass/_sp.scss */
  .contact .article { width: auto; margin-bottom: 16px; } }

/*# sourceMappingURL=all.css.map */
