@charset "utf-8";
//※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
// 変数・element style
//※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※

// ------------------------------------
// 各種設定
// ------------------------------------

// コーポレートカラー
$corporate_color: #e85f5f;

// ベーステキストカラー
$base_font_color: #333;


$small: "only screen and (max-width:780px)";
$large: "only screen and (min-width:780px)";





// ===================================================================
// mixin
// ===================================================================
// @mixin font-size($s:14) {
//     font-size:($s / 10) + rem;
// }

// ----------------------------------------------------
// extend
// ----------------------------------------------------
// // エラー
// %error{
//   background:#ffecec;
//   color: #d90000;
// }
// // 余白
// %space{
//   margin-top:10px;
//   padding:0 10px;
// }


